p{
    display: flex;
    width: ;
    text-align: center;
    justify-content:left ;
}
.text{
    margin: auto;
    width: 40%;
}
.pages{
    display: inline;
}
.page-change{
    margin: auto;
    width: 2%;
    text-align: ;
    padding-top: 10px;
}
a:visited{
    color: red;
}
